.app-bar {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #FDD253;
}

p {
    font-weight: bold;
    font-size: 1rem;
}

.left-header {
    margin-left: 3rem;
}

.left-header img {
    width: 4.2rem;
}

.right-header {
    margin-right: 3rem;
}

div>button {
    font-weight: bold;
    background-color: #EF9A9A;
}