<div class="app-bar">
  <div class="left-header">
    <a routerLink="/home">
      <img src="../../../../assets/images/s_logo.png" />
    </a>
  </div>
  <div class="right-header">
    <p>Please contact us</p>
    <div *ngIf="!user; else showName">
      <p>Hello guest</p>
    </div>
    <ng-template #showName>
      <p>Hello {{ user.firstName + " " + user.lastName }}</p>
      <div *ngIf="user; else nothing">
        <button mat-raised-button (click)="logout()">Logout</button>
      </div>
      <ng-template #nothing></ng-template>
    </ng-template>
  </div>
</div>
