<div class="login-panel">
  <div class="login-form">
    <h3>Please login to start shopping :)</h3>
    <form (submit)="login()" #formInf="ngForm">
      <label>Enter username:</label>
      <input
        type="email"
        class="input"
        type="email"
        name="username"
        [(ngModel)]="credentials.username"
        [email]="true"
        required
        #usernameInfo="ngModel"
      />
      <span *ngIf="usernameInfo.errors?.required && usernameInfo.touched"
        >Missing email</span
      >
      <label>Enter password:</label>
      <input
        class="input"
        type="password"
        name="password"
        [(ngModel)]="credentials.password"
        required
        #passwordInfo="ngModel"
      />
      <span *ngIf="passwordInfo.errors?.required && passwordInfo.touched"
        >Missing password</span
      >
      <button type="submit">Login</button>
    </form>
    <div class="not-registered">
      <a routerLink="/register" class="register-link">
        don't have a user yet?
      </a>
    </div>
  </div>
</div>
