.cart {
    padding: 1rem;
    margin-top: 3rem;
    margin-left: 5%;
    margin-right: 5%;
    height: 70vh;
    width: 90%;
    max-height: 70vh;
    background: #FAF7F7;
    border: 6px solid #636363;
    border-radius: 40px 40px 40px 40px;
}

.cart {
    display: grid;
    grid-template-rows: 15% 75% 10%;
}

.cart>* {
    height: 100%;
}

.cart-content {
    overflow-y: scroll;
    overflow-x: auto;
}

.cart-actions {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cart-action-divider {
    width: 100%;
    position: absolute;
    top: 0;
}