.products-list {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 6fr;
    grid-template-rows: 5rem 3rem 6fr;
}

.products-list>div {
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.category-nav {
    grid-area: 1/2/2/3;
}

.cart-sidebar {
    grid-row: span 3;
    grid-column: span 1;
}

.products-container {
    grid-area: 2/2/4/3;
    display: grid;
    grid-template-rows: 3rem 1fr;
}

.search-container {
    grid-column: span 2;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
}

.products-content {
    margin-bottom: 2rem;
    width: 100%;
    grid-column: span 2;
    grid-row: 2/3;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:2rem;
    align-items: center;
    justify-content: center;
}

._no-side-bar {
    grid-column: span 3;
}