<div class="products-list">
  <div
    class="{{
      showSideBar === 'true' ? ' category-nav ' : 'category-nav _no-side-bar'
    }}"
  >
    <button (click)="handleSideBar()">Show sidebar</button>
    here will be the nav category
  </div>
  <ng-template [ngIf]="user.isAdmin">
    <div class="sidebar" *ngIf="showSideBar === 'true'">
      <app-admin-sidebar
        opened="{{ showSideBar }}"
        [existingProduct]="productForEdit ? productForEdit : false"
      ></app-admin-sidebar>
    </div>
  </ng-template>
  <ng-template [ngIf]="!user.isAdmin">
    <div class="sidebar" *ngIf="showSideBar === 'true'">
      <app-cart-sidebar opened="{{ showSideBar }}"></app-cart-sidebar>
    </div>
  </ng-template>
  <div
    class="{{
      showSideBar === 'true'
        ? 'products-container'
        : 'products-container _no-side-bar'
    }}"
  >
    <div class="search-container">
      <label for="searchInput">Search:</label>
      <input
        name="searchInput"
        type="text"
        length="50"
        (keyup)="searchProducts($event)"
      />
    </div>
    <div class="products-content">
      <div *ngIf="!products.length">
        <mat-progress-spinner
          class="example-margin"
          [color]="'primary'"
          [mode]="'indeterminate'"
          [value]="25"
        >
        </mat-progress-spinner>
        <p>Searching ...</p>
      </div>
      <app-product-card
        (emittedProduct)="productToEdit($event)"
        *ngFor="let p of products"
        [product]="p"
      ></app-product-card>
    </div>
  </div>
</div>
