<div class="products-list">
  <div
    class="{{
      showSideBar === 'true' ? ' category-nav ' : 'category-nav _no-side-bar'
    }}"
  >
    <button
      class="menu-toggle-btn"
      (click)="handleSideBar()"
      mat-mini-fab
      color="accent"
    >
      <mat-icon *ngIf="showSideBar !== 'true'"
        >keyboard_double_arrow_right</mat-icon
      >
      <mat-icon *ngIf="showSideBar === 'true'"
        >keyboard_double_arrow_left</mat-icon
      >
    </button>
    <div class="categories-btn-group">
      <button mat-raised-button color="primary">Show All</button>
      <button
        mat-raised-button
        color="primary"
        *ngFor="let category of categories"
      >
        {{ category.name }}
      </button>
    </div>
  </div>
  <ng-template [ngIf]="user.isAdmin">
    <div class="sidebar" *ngIf="showSideBar === 'true'">
      <app-admin-sidebar
        opened="{{ showSideBar }}"
        [existingProduct]="productForEdit ? productForEdit : false"
      ></app-admin-sidebar>
    </div>
  </ng-template>
  <ng-template [ngIf]="!user.isAdmin">
    <div class="sidebar" *ngIf="showSideBar === 'true'">
      <app-cart-sidebar opened="{{ showSideBar }}"></app-cart-sidebar>
    </div>
  </ng-template>
  <div
    class="{{
      showSideBar === 'true'
        ? 'products-container'
        : 'products-container _no-side-bar'
    }}"
  >
    <div class="search-container">
      <label for="searchInput">Search:</label>
      <input
        name="searchInput"
        type="text"
        length="50"
        (keyup)="searchProducts($event)"
      />
    </div>
    <div class="products-content">
      <div *ngIf="!products.length">
        <mat-progress-spinner
          class="example-margin"
          [color]="'primary'"
          [mode]="'indeterminate'"
          [value]="25"
        >
        </mat-progress-spinner>
        <p>Searching ...</p>
      </div>
      <app-product-card
        (emittedProduct)="productToEdit($event)"
        *ngFor="let p of products"
        [product]="p"
      ></app-product-card>
    </div>
  </div>
</div>
