.order-items-container {
    margin-left: 5%;
    height: 70vh;
    width: 50vw;
    max-width: 90%;
    background-color: aliceblue;
    padding: 3rem;
    display: grid;
    grid-template-rows:20% 70% 10%;
    box-shadow: 0px 0px 20px 0px #A3A1A1;
    border-radius:3%;
    background-color: #FFEBEE;
}

h3 {
    font-weight: bold;
}

.items-header {
    position: relative;
    border-bottom: 3px solid #555;
}

a {
    position: absolute;
    right: 0;
    top: 1rem;
    text-decoration: none;
    color: cornflowerblue;
    font-size: 1.2rem;
}

.items-content {
    overflow-y: scroll;
    overflow-x: auto;
}

.items-footer {
   border-top: 3px solid #555;
    margin-top: 3rem;
}

.items-footer>p {
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1.3rem;
}