<div class="register-page">
  <div class="register-form">
    <ng-template [ngIf]="!successSecond">
      <form class="first-step">
          <label >Enter ID:</label>
          <input type="text" >
          <label >Enter Email:</label>
          <input type="email" >
          <label >Enter Password:</label>
          <input type="password" >
          <label >Confirm password:</label>
          <input type="password" >
        <button type="submit" class="btn-nxt-stage">move to next stage</button>
      </form>
    </ng-template>
    <ng-template [ngIf]="successSecond">
      <form class="second-step">here 2</form>
    </ng-template>
  </div>
</div>
