.register-page {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-form {
    height: 100%;
    width: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.step {
    border: 1px solid black;
    height: 80%;
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 1rem;
}

form>label:nth-child(1) {
    margin-top: 3rem;
}

label {
    align-self: center;
}

input {
    align-self: center;
    width: 50%;
}

input~span {
    margin-left: 3rem;
    color: red;

}

.btn-nxt-stage {
    margin: auto;
    width: 40%;
}

.btn-submit {
    margin: auto;
    width: 40%;
}

.back-to-home-btn {
    position: absolute;
    left: 70px;
    top:130px;
    width: 6rem;
}

.back-btn {
    width: 30%;
    position: relative;
    left: 10px;
    top: 10px;
    
}
.back-btn > a{
    font-size:1.2rem;
    background: whitesmoke;
    border: 1px solid black;
    text-decoration: none;
    
}