<div class="welcome-page">
  <div class="{{ user ? 'login-panel' : 'start-shopping-panel' }}">
    <ng-template [ngIf]="!user">
      <app-login></app-login>
    </ng-template>
    <ng-template [ngIf]="user">
      <app-start-shopping></app-start-shopping>
    </ng-template>
  </div>
  <div class="website-information">
    <app-website-information></app-website-information>
  </div>
  <div class="about-website">
    <h2 class="mat-headline">
      Supersal is an online shopping website, not the only one but guaranteed to
      be the best!
    </h2>

  </div>
</div>
