/* You can add global styles to this file, and also import other style files */
*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    padding: 0;
    width: 100%;
    background: #FFFDE7;
    background: linear-gradient(151deg, #FFFDE7 3%, #FCC5C7 52%);
    font-weight: bold;
    font-size: 1.1rem;
    color: #171515;
}

@media screen and (max-width:700px) {
    html, body {
        height: 100vw;
    }
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}