<h1 mat-dialog-title>Add amount for this item</h1>
<form (submit)="addItemQuantity()" [formGroup]="quantityForm">
  <div mat-dialog-content class="input-group">
    <label>Add a number: </label
    ><input type="number" min="1" max="50" [formControl]="quantityControl" />
    <span *ngIf="quantityControl.errors?.required && quantityControl.touched"
      >Missing value</span
    >
    <span *ngIf="quantityControl.errors?.min && quantityControl.touched"
      >Value must be at least 1</span
    >
    <span *ngIf="quantityControl.errors?.max && quantityControl.touched"
      >Value can be at most 50</span
    >
  </div>
  <div mat-dialog-actions>
    <button
      mat-raised-button
      mat-dialog-close
      color="primary"
      type="submit"
      [disabled]="quantityForm.status === 'INVALID'"
    >
      Done
    </button>
  </div>
</form>
