<mat-drawer #drawer class="side-nav" mode="side" opened="{{ opened }}">
  <div class="sidebar-header">
    <h2 class="mat-title">You can add or edit products here</h2>
    <ng-template [ngIf]="isAdd">
      <button mat-raised-button color="primary">
        <mat-icon>add</mat-icon>
      </button>
    </ng-template>
    <mat-divider></mat-divider>
  </div>
  <div class="sidebar-form">
    <form (submit)="handleSubmit()" [formGroup]="productForm">
      <mat-form-field>
        <mat-label>Product name: </mat-label>
        <input matInput type="text" [formControl]="nameControl" />
        <mat-error *ngIf="nameControl.errors?.required && nameControl.touched"
          >Name is missing</mat-error
        >
        <mat-error *ngIf="nameControl.errors?.minlength && nameControl.touched"
          >Name is minimum length is 2 letters</mat-error
        >
        <mat-error *ngIf="nameControl.errors?.maxlength && nameControl.touched"
          >Name is maximum length is 30 letters</mat-error
        >
        <mat-error *ngIf="nameControl.errors?.pattern && nameControl.touched"
          >Product name must be capitalized</mat-error
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Product price: </mat-label>
        <input matInput type="text" [formControl]="priceControl" />
        <mat-error *ngIf="priceControl.errors?.required && priceControl.touched"
          >price is missing</mat-error
        >
        <mat-error *ngIf="priceControl.errors?.min && priceControl.touched"
          >price can't be negative</mat-error
        >
        <mat-error *ngIf="priceControl.errors?.max && priceControl.touched"
          >price can't bigger than 1000</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Category</mat-label>
        <mat-select [formControl]="categoryIdControl">
          <mat-option [value]="0">{{
            isAdd ? "Choose category" : product.category.name
          }}</mat-option>
          <mat-option *ngFor="let c of categories" [value]="c._id">
            {{ c.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="categoryIdControl.hasError('required')"
          >You must make a selection</mat-error
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Product price: </mat-label>
        <ngx-mat-file-input
          [formControl]="imageControl"
          formControlName="fill"
          placeholder="Upload image..."
          (change)="setImage($event)"
        ></ngx-mat-file-input>
        <mat-icon matSuffix>folder</mat-icon>
        <ng-template [ngIf]="isAdd">
          <mat-error
            *ngIf="imageControl.errors?.required && imageControl.touched"
            >price is missing</mat-error
          >
        </ng-template>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        [disabled]="productForm.status === 'INVALID'"
      >
        <mat-icon>save</mat-icon>

        Save
      </button>
    </form>
  </div>
</mat-drawer>
