<mat-drawer #drawer class="side-nav" mode="side" opened="{{ opened }}">
  <div class="sidebar-header">
    <h2 class="mat-title">You can add or edit products here</h2>

    <button mat-raised-button color="primary" (click)="handleAdd()">
      <mat-icon>add</mat-icon>
    </button>

    <mat-divider></mat-divider>
  </div>
  <div class="sidebar-form">
    <form (submit)="handleSubmit()" [formGroup]="productForm">
      <mat-form-field>
        <mat-label>Product name: </mat-label>
        <input matInput type="text" [formControl]="nameControl" />
        <mat-error *ngIf="nameControl.errors?.required && nameControl.touched"
          >Name is missing</mat-error
        >
        <mat-error *ngIf="nameControl.errors?.minlength && nameControl.touched"
          >Name is minimum length is 2 letters</mat-error
        >
        <mat-error *ngIf="nameControl.errors?.maxlength && nameControl.touched"
          >Name is maximum length is 30 letters</mat-error
        >
        <mat-error *ngIf="nameControl.errors?.pattern && nameControl.touched"
          >Product name must be capitalized</mat-error
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Product price: </mat-label>
        <input matInput type="number" [formControl]="priceControl" />
        <mat-error *ngIf="priceControl.errors?.required && priceControl.touched"
          >price is missing</mat-error
        >
        <mat-error *ngIf="priceControl.errors?.min && priceControl.touched"
          >price can't be negative</mat-error
        >
        <mat-error *ngIf="priceControl.errors?.max && priceControl.touched"
          >price can't bigger than 1000</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Category</mat-label>
        <mat-select [formControl]="categoryIdControl">
          <mat-option [value]="0" disabled>{{ "Choose category" }}</mat-option>
          <mat-option *ngFor="let c of categories" [value]="c._id">
            {{ c.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="categoryIdControl.hasError('required')"
          >You must make a selection</mat-error
        >
      </mat-form-field>

      <div class="file-custom">
        <input
          [formControl]="imageControl"
          (change)="setImage($event)"
          type="file"
          id="file"
          class="file-input"
        />
        <label for="file">
          Select file
          <p class="file-name"></p>
        </label>
      </div>
      <button
        mat-raised-button
        color="primary"
        [disabled]="productForm.status === 'INVALID'"
      >
        <mat-icon>save</mat-icon>

        Save
      </button>
    </form>
  </div>
</mat-drawer>
